<style>
    .mainPhoto{
        background-image: linear-gradient(360deg,rgba(0,0,0,0.6),rgba(255,255,255,0)),url("assets/BhutanHero.jpg");
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: start;
        background-position: center;
        background-size: cover;
    }
    .mainPhoto h1{
        margin-left: 2%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: white;
        font-size: 3rem;
    }
   
    .mainPhoto{
    width: 100%;
    height: 90vh;
    }
</style>
<div class="mainPhoto" id="Photo">
    <h1 class="uph1"><%= page.line %></h1>
</div>