
<footer>
    <div class="up">
        <div class="upCols">
            <h3>PLAN A TRIP</h3>
            <ul>
                <li>Find a Trip</li>
                <li>Why Travel with Us</li>
                <li>Meet Our Experts</li>
                <li>Special Offers</li>
                <li>Stories From Our Travelers</li>
            </ul>
        </div>
        <div class="upCols">
            <h3>SUPPORT</h3>
            <ul>
                <li>Contact Us</li>
                <li>Frequently Asked Questions</li>
                <li>Travel Agents</li>
                <li>Updated Booking Policies</li>
            </ul>
        </div>
        <div class="upCols">
            <h3>COMPANY</h3>
            <ul>
                <li>Terms & Conditions</li>
                <li>Press Releases</li>
            </ul>
        </div>
        <div class="upCols">
            <h3>FOLLOW US</h3>
            <ul>
                <li>Facebook</li>
                <li>Instagram</li>
            </ul>
        </div>
        
    </div>
    <hr class="seperate">
    <div class="down">
        <span>Terms of Use</span>
        <span>Privacy Policy</span>
        <span>Do Not Share or Sell My Personal Information</span>
        <span>Children's Online Privacy Policy</span>
    </div>
</footer>
