
<header>
    
    <div class="heading">
        <div class="sigline"></div>
        <h1 class="main">Expedia</h1>
    </div>
    <div class="navItems">
        <div class="navList">
        
            <a href="./">Sign Up for Email</a>
            <a href="./">Request a Catalog</a>
            <a href="./">Contact Us</a>
            <a href="./">About Us</a>
            
        </div>
        <div class="search">
            <input type="text" placeholder="Search for Trips">
            <button type="button">Reserve Online</button>
        </div>
    </div>
    
</header>
<div class="subNav">
    <a href="./">Destinations</a>
    <a href="./">Trip Types</a>
    <a href="./">Expedia Difference</a>
    <a href="./">Get Inspired</a>
    <a href="./">Special Offer</a>
</div>
    