<div class="hero">
    <h1>
        See the World & Save in 2025
    </h1>
</div>
<p class="description_1">
    Experience the thrill of traveling to exciting destinations and enjoying unparalleled access to the people and places you visit. Snorkel amid the diverse marine life of Australia’s Great Barrier Reef, cruise the Azores in search of dolphins and whales, or ride the rails through the Alps on one of Switzerland’s legendary trains. Wherever your Expedia Signature Land trip goes, you’ll see each destination through the eyes of knowledgeable experts, photographers and guides who bring the world and its stories to life.
</p>
<p class="description_2">
    And now, when you book by September 4, 2024, you can save $400 per person on select North America Signature Land departures from May through October in 2025, or save $500 per person on select International Signature Land departures from April 2025 through April in 2026.
    <a href="./">Learn More</a>
</p>
<h1 class="features">
    FEATURED TRIP - SIGNATURE LAND
</h1>
<div class="suggestions">
    <a href="alaska" class="element">
        <img src="/assets/alaska_hero.jpg" alt="Element">
        <span class="descMar">8 DAYS STARTING AT</span>
        <h1 class="descMar">$8,395</h1>
        <h2 class="descMar">Alaska: Denali to Kenai Fjords Expedition</h2>
        <p class="first descMar"><span>Trip Type:</span> Signature Land</p>
        <p class="second descMar"><span>Activity Level:</span> Light-Moderate</p>
    </a>
    <a href="bhu" class="element">
        <img src="/assets/BhutanHero.jpg" alt="Element">
        <span class="descMar">11 DAYS STARTING AT</span>
        <h1 class="descMar">$10,995</h1>
        <h2 class="descMar">Bhutan: Land of Mysticism and Mythology </h2>
        <p class="first descMar"><span>Trip Type:</span> Signature Land</p>
        <p class="second descMar"><span>Activity Level:</span> Light-Moderate</p>
    </a>
    <a href="aus" class="element">
        <img src="/assets/AusReefHero.jpg" alt="Element">
        <span class="descMar">11 DAYS STARTING AT</span>
        <h1 class="descMar">$10,995</h1>
        <h2 class="descMar">Australia: Reefs, Rainforests & Wild </h2>
        <p class="first descMar"><span>Trip Type:</span> Signature Land</p>
        <p class="second descMar"><span>Activity Level:</span> Light-Moderate</p>
    </a>
    <a href="taj" class="element">
        <img src="/assets/TajHero.jpg" alt="Element">
        <span class="descMar">11 DAYS STARTING AT</span>
        <h1 class="descMar">$11,395</h1>
        <h2 class="descMar">India's Fabled Rajasthan by Rail</h2>
        <p class="first descMar"><span>Trip Type:</span> Rail</p>
        <p class="second descMar"><span>Activity Level:</span> Light</p>
    </a>
    <a href="nor" class="element">
        <img src="/assets/NorwayHero.jpg" alt="Element">
        <span class="descMar">11 DAYS STARTING AT</span>
        <h1 class="descMar">$11,395</h1>
        <h2 class="descMar">Norways's Trains and Fjords</h2>
        <p class="first descMar"><span>Trip Type:</span> Train</p>
        <p class="second descMar"><span>Activity Level:</span> Light-Moderate</p>
    </a>
    <a href="chi" class="element">
        <img src="/assets/ChinaHero.jpg" alt="Element">
        <span class="descMar">16 DAYS STARTING AT</span>
        <h1 class="descMar">$16,395</h1>
        <h2 class="descMar">China: Imperial Cities and Natural Wonders</h2>
        <p class="first descMar"><span>Trip Type:</span>Signature Land</p>
        <p class="second descMar"><span>Activity Level:</span> Light</p>
    </a>
</div>